/* Colors */

/*

Black: #242424
Green: #87ff77
Purple: #ab77ff

*/

/* Fonts */

@font-face {
    src: url(fonts/Verdana.ttf);
    font-family: "Verdana";
}

@font-face {
    src: url(fonts/VerdanaBold.ttf);
    font-family: "Verdana Bold";
}

@font-face {
    src: url(fonts/VerdanaItalic.ttf);
    font-family: "Verdana Italic";
}

@font-face {
    src: url(fonts/VerdanaBoldItalic.ttf);
    font-family: "Verdana Bold Italic";
}

/* Page Elements [A-Z] */

* {
    transition: 0.25s;
    font-family: "Verdana", sans-serif;
}

a {
    text-decoration: none;
    text-emphasis: none;
}

body {
    margin: 0 auto;
    background-color: #121212;
    background-image:  linear-gradient(135deg, #242424 25%, transparent 25%), linear-gradient(225deg, #242424 25%, transparent 25%), linear-gradient(45deg, #242424 25%, transparent 25%), linear-gradient(315deg, #242424 25%, #121212 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

h1 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 15px 0 0 15px;
    margin: 0 auto;
    color: #242424;
}

iframe {
    border: none;
    padding: none;
    margin: none;
}

.inlineGrid {
    display: inline-grid;
}

.landing {
    position: relative;
    display: inline-grid;
    width: 100%;
    height: 360px;
    overflow: hidden;
    background-image: url(images/sdg.png);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
}

.landingText {
    position: static;
    display: inline-grid;
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 40pt;
    z-index: 1;
}

.main {
    display: grid;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 20px auto;
    overflow-x: hidden;
}

.nav {
    display: grid;
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #242424;
    overflow: hidden;
}

.nav-0 {
    width: 75px;
    right: 0;
    color: white;
}
.nav-0:hover {
    background-color: #363636;
}
.nav-0::before {
    content: "\002630";
}

.nav-0-1 {
    width: 75px;
    height: 75px;
    position: absolute;
    display: grid;
    align-content: center;
    text-align: center;
    top: 0;
    right: 0;
    background-color: #242424;
    color: white;
    z-index: 5;
}
.nav-0-1:hover {
    background-color: #363636;
}
.nav-0-1::before {
    content: "\002630";
}

.nav-1 {
    font-family: "Verdana";
    font-weight: 1000;
    font-size: 20px;
    width: 75px;
    right: 75px;
    background-color: #242424;
    color: white;
}
.nav-1:hover {
    background-color: #363636;
}
.nav-1::before {
    content: "\2302";
}

.nav-2 {
    width: 25%;
    color: white;
    background-color: #4b9394;
    left: 0;
}
.nav-2:hover {
    background-color: #2e7273;
}
.nav-2::before {
    content: "Interactive 1";
}

.nav-3 {
    left: 25%;
    color: white;
    background-color: #75c991;
    width: 25%;
}
.nav-3:hover {
    background-color: #55a670;
}
.nav-3::before {
    content: "Exercises";
}

.nav-4 {
    left: 50%;
    color: white;
    background-color: #e691cb;
    width: 25%;
}
.nav-4:hover {
    background-color: #cc7ab4;
}
.nav-4::before {
    content: "Projects";
}

.navButton {
    display: inline-grid;
    position: absolute;
    top: 0;
    align-content: center;
    text-align: center;
    height: 100%;
}
.navButton:hover {
    color: white;
    box-shadow: 0 5px 0 white inset;
}

.navAlt {
    font-family: "Verdana", sans-serif;
    display: none;
    position: relative;
    width: 100vw;
    height: 75px;
    background-color: #242424;
    z-index: 1;
    overflow: hidden;
}

.navAltBack {
    left: 0;
    top: 0;
    text-align: center;
    align-content: center;
    font-size: 18pt;
}
.navAltBack::before {
    content: "\25c0";
}

.navAltHome {
    right: 75px;
    top: 0;
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 30pt;
    padding-top: 0.25em;
}
.navAltHome::before {
    content: "\2302";
}

.navAltInner {
    display: inline-grid;
    position: absolute;
    width: 75px;
    height: 75px;
    color: #242424;
    background-color: white;
    z-index: 2;
}

.navAltTitle {
    display: inline-grid;
    position: relative;
    margin: auto;
    color: white;
    text-align: center;
    height: 75px;
    align-content: center;
}

.navAltToggle {
    right: 0;
    top: 0;
    text-align: center;
    font-size: 20pt;
    align-content: center;
}
.navAltToggle::before {
    content: "\002630";
}

@media only screen and (max-width: 900px) {
    
    .nav {
        display: none;
        width: 100vw;
        height: auto;
    }
    
    .nav-0-1 {
        display: none;
    }
    
    .navAlt {
        display: grid;
    }
    
}

@media only screen and (min-width: 1080px) {
    
}