body {
    margin: 0;
    padding: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url(images/sky.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}